.aboutUs {
    padding: 0 1rem;
    background-color: #efefef;
    padding-top: 9rem;
    /* height: fit-content; */
    padding-bottom: 9rem;
    display: flex;
    flex-direction: column;
}

.founder {
    position: relative;
    margin-left: -1rem;
    padding: 5rem 1.5rem 1.2rem 1rem;
    background-color: white;
    color: black;
    margin-bottom: 4rem;
}

.founderPic {
    position: absolute;
    display: flex;
    top: -3rem;
    right: 1.5rem;
}

.founderPic h2 {
    font-size: 16px;
    color: #dcdcdc;
}

.founderPic img {
    margin-left: 1rem;
}

.founder p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: rgb(66, 66, 66);
}

.aboutText {
    margin-top: 2.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    font-style: normal;
    line-height: 2.1rem;
    color: rgb(66, 66, 66);
}

.aboutUs a {
    align-self: center;
    margin-top: 4rem;
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 5rem;
    color: white;
    padding: 1.5rem;
    background-color: #0d2544;
    border-radius: 4px;
    padding-right: 3rem;
}